h1 {
  text-indent: -999px;
  font-size: 0;
}

header nav {
  background: gray;
}

header nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  background: gray;
}

header nav ul li {
  display: inline-block;
}
