body {
	margin: 0;
	font-family: 'Helvetica';
	font-size: 14px;
}

header {
	background-color: gray;
	display: block;
}

header h1 {
	display: inline-block;
	color: white;
	margin-left: 40px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 4px;
	font-weight: bold;

}

header nav {
	display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 20px;
	text-transform: uppercase;
	font-size: 13px;
	color: white;
}

section article {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

article span {
	color: green;
}